lib0904/util/mobile_premium/au/wsdl_test/KIPrevReq.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CtGKDR01040Service"
    targetNamespace="http://www.ctgkdr01040.com/wsdl/CtGKDR01040RemoteInterface"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:binding="http://www.ctgkdr01040.com/definitions/CtGKDR01040RemoteInterface"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.ctgkdr01040.com/wsdl/CtGKDR01040RemoteInterface"
    xmlns:xsd1="http://www.ctgkdr01040.com/schemas/CtGKDR01040RemoteInterface">

<types>
<schema attributeFormDefault="qualified" elementFormDefault="qualified"
    targetNamespace="http://www.ctgkdr01040.com/schemas/CtGKDR01040RemoteInterface"
    xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="prkd.j.KIPrevResp">
        <all>
            <element name="rslt_cd" nillable="true" type="string"/>
            <element name="rsn_cd" nillable="true" type="string"/>
            <element name="tran_id" nillable="true" type="string"/>
        </all>
    </complexType>
    <complexType name="prkd.j.KIPrevReq">
        <all>
            <element name="cp_cd" nillable="true" type="string"/>
            <element name="ok_url" nillable="true" type="string"/>
            <element name="ng_url" nillable="true" type="string"/>
            <element name="odr_id" nillable="true" type="string"/>
            <element name="mem_cd" nillable="true" type="string"/>
        </all>
    </complexType>
</schema>
</types>

    <message name="trx_KIPrevReqRequest">
        <part name="request" type="xsd1:prkd.j.KIPrevReq"/>
    </message>
    <message name="trx_KIPrevReqResponse">
        <part name="result" type="xsd1:prkd.j.KIPrevResp"/>
    </message>
    <portType name="CtGKDR01040">
        <operation name="trx_KIPrevReq" parameterOrder="request">
            <input message="tns:trx_KIPrevReqRequest" name="trx_KIPrevReqRequest"/>
            <output message="tns:trx_KIPrevReqResponse" name="trx_KIPrevReqResponse"/>
        </operation>
    </portType>
    <binding name="CtGKDR01040Binding" type="tns:CtGKDR01040">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="trx_KIPrevReq">
            <soap:operation soapAction="" style="rpc"/>
            <input name="trx_KIPrevReqRequest">
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://session.collect.kddi.com/KIPrevReq" use="encoded"/>
            </input>
            <output name="trx_KIPrevReqResponse">
                <soap:body
                    encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                    namespace="http://session.collect.kddi.com/KIPrevReq" use="encoded"/>
            </output>
        </operation>
    </binding>
    
    <service name="CtGKDR01040Service">
        <port binding="tns:CtGKDR01040Binding" name="CtGKDR01040Port">
            <soap:address location="https://session-stg.collect.kddi.com/soap/rpcrouter"/>
        </port>
    </service>
</definitions>
